<div class="results-box">
  <%= render 'layouts/messages' %>
</div>

<% if @stock %>
  <div class="card card-header results-box">
    <strong>Symbol: </strong> <%= @stock.ticker %>
    <strong>Name: </strong> <%= @stock.name %>
    <strong>Price: </strong> <%= @stock.price %>
    <% if current_user.can_track_stock?(@stock.ticker) %>
      <%=
        link_to(
          'Add to portfolio',
          user_stocks_path(user: current_user, ticker: @stock.ticker),
          method: :post,
          class: 'btn btn-xs btn-success'
        )
      %>
    <% else %>
      <span class="badge badge-secondary">
        You are already tracking
        <% if !current_user.stocks.find_by(ticker: @stock.ticker) %>
          10 stocks
        <% else %>
          this stock
        <% end %>
      </span>
    <% end %>
  </div>
<% end %>
