<div class="results-box">
  <%= render 'layouts/messages' %>
</div>

<% if @matched_friends.any? %>
  <% @matched_friends.each do |friend| %>
    <div class="card card-header results-box">
      <strong>Email: </strong> <%= friend.email %>
      <strong>First Name: </strong> <%= friend.first_name %>
      <strong>Last Name: </strong> <%= friend.last_name %>

      <%= link_to 'View profile', user_path(friend), class: 'btn btn-sm btn-primary' %>
      <% if current_user.friends.include?(friend) %>
        <span class="badge badge-secondary">
          friend
        </span>
      <% else %>
        <%=
          link_to(
            'Add to friends',
            friendships_path(friend: friend),
            method: :post,
            class: 'btn btn-xs btn-success'
          )
        %>
      <% end %>
    </div>
  <% end %>
<% end %>
